<html ng-app="geojsonViewerApp">
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
 	<link rel="stylesheet" href="../bower_components/leaflet-dist/leaflet.css" />
	<link rel="stylesheet" href="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">	
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/leaflet-dist/leaflet-src.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
	<script src="../OverlappingMarkerSpiderfier.js"></script>
	<script src="../bower_components/Leaflet.GeometryUtil/dist/leaflet.geometryutil.js"></script>
	<script src="../bower_components/moment/moment.js"></script>
	<script src="../bower_components/Leaflet.PolylineDecorator/leaflet.polylineDecorator.js"></script>
	<script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
	<script src="../Leaflet.NumberedMarkerIcon.js"></script>

    <!-- geojsonViewer application code -->
    <script src="index.js"></script>

	<!-- services -->
    <script src="../services/showFeature.js"></script>
    <script src="../services/Util.js"></script>    
</head>
<body ng-controller="timestampEditorCtrl" ng-keypress="switchFeature($event)">
	<leaflet id="map" center="hydePark" tiles="tiles" decorations="decorations" markers="markers" geojson="leafletGeojson" event-broadcast="events"></leaflet>
	<div id="sidebar">
		<form name="feature-picker" novalidate id="feature-id">
			<input type="input" ng-model="currentFeatureId" ng-change="updateFeature(currentFeatureId)"/>
		</form>
		<p>Submitted on {{submissionTimestamp}}.</p>
		<p>Timestamps: 
			<br />
			<form name="timestamps-form">
				<div class="timestamp-info input-group" ng-repeat="timestamp in timestamps" >
					<span class="label label-default">{{$index}}:</span>
					<span class="label {{timestamp.estimateIsCorrect}}">{{timestamp.timestampText}}</span>
					<input type="text" ng-model="timestamp.distance" ng-change="updateTimestamp($index, timestamp.distance)"/>
					<br />
				</div>
			</form>
		</p>
		<p>
			This tool is designed for viewing a collection of geojson paths and timestamps.  That is, this viewer accepts a <a href="http://geojson.org/geojson-spec.html#feature-collection-objects">GeoJson <code>FeatureCollection</code></a> in which each <a href="http://geojson.org/geojson-spec.html#feature-objects">GeoJson <code>Feature</code></a> consists of a <a href="http://geojson.org/geojson-spec.html#linestring"><code>LineString</code></a> and an array of timestamps in its <code>properties</code> object.
		</p>
		<p>
			The <code>A</code> and <code>D</code> keys step backwards and forwards, respectively, through features in the GeoJson FeatureCollection.  <span style="color: #87ceeb">Blue</span> markers have been placed exactly as reported by the users.  <span style="color: #db1d0f">Red</span> markers have been been positioned based on their calculated distance along the path, computed using <a href="https://github.com/makinacorpus/Leaflet.GeometryUtil">Leaflet.GeometryUtil</a>.
		</p>
		<div class="downloads">
			<button ng-click="downloadFile(currentFeatureIndex)" class="btn btn-default">Download Feature {{currentFeatureId}}</button>
			<button ng-click="downloadFile()" class="btn btn-default">Download All Features</button>
		</div>
	</div>
</body>
</html>