<html ng-app="geojsonViewerApp">
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
 	<link rel="stylesheet" href="../bower_components/leaflet-dist/leaflet.css" />
	<link rel="stylesheet" href="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">	
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/leaflet-dist/leaflet-src.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
	<script src="../OverlappingMarkerSpiderfier.js"></script>
	<script src="../bower_components/Leaflet.GeometryUtil/dist/leaflet.geometryutil.js"></script>
	<script src="../bower_components/moment/moment.js"></script>
	<script src="../bower_components/Leaflet.PolylineDecorator/leaflet.polylineDecorator.js"></script>
	<script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
	<script src="../Leaflet.NumberedMarkerIcon.js"></script>

    <!-- geojsonViewer application code -->
    <script src="index.js"></script>

	<!-- services -->
    <script src="../services/showFeature.js"></script>
    <script src="../services/Util.js"></script>     
</head>
<body ng-controller="pathAnimatorCtrl" ng-keypress="switchFeature($event)">
	<leaflet id="map" center="hydePark" tiles="tiles" event-broadcast="events" geojson="leafletGeojson" markers="markers" decorations="decorations"></leaflet>
	<div id="sidebar">
		<p>The map is currently showing the positions of survey respondents at {{formatTime(currentSimulationTime/60)}}.  These positions are interpolated from the paths and timestamps reported by survey respondents.</p>
		<p>Drag the slider to change the displayed time.</p>
		<h2 id="simulation-time-clock">{{formatTime(currentSimulationTime/60)}}</h2>
		<form name="time-picker" novalidate id="time-picker">
			<input type="range" ng-model="currentSimulationTime" min="0" max="1440" ng-model="currentSimulationTime" ng-change="setViewerTime(currentSimulationTime/60)"/>
		</form>
		<p>There are currently {{studentsOnMap}} students on the map.  (Recall that the data set contains responses from 246 students).</p>
	</div>
</body>
</html>